<div class="hero-slide-item slider-height swiper-slide d-flex">
  <div class="container align-self-center">
    <div class="row">
      <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
        <div class="hero-slide-content slider-animated-1">
          <span class="category">나인소</span>
          <h2 class="title-1">나만을 위한 인테리어 소개</h2>
          <p>당신만을 위한 '침실가구', '거실가구', '수납가구'를 추천받아 보세요.</p>
          <a href="#tab-product-new-arrivals" class="btn btn-lg btn-nineso btn-hover-dark mt-5">지금 추천받기</a>
        </div>
      </div>
      <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5">
        <div class="hero-slide-image">
          <img src="assets/images/slider-image/slider-1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
