<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pr-1 pl-2" data-aos="fade-up" data-aos-delay="200">

  <div class="product">
    <div class="thumb">
      <a href="/product_detail" class="image">
        <img src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="Product" />
      </a>
      <div class="actions">
        <a href="/" class="action wishlist" title="Wishlist"><i class="icon-heart"></i></a>
      </div>
    </div>
    <div class="content">
      <h5 class="title">브랜드</h5>
      <h5 class="name">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플</h5>
      <span class="price">
        <span class="new">456,000원</span>
      </span>
    </div>
  </div>
</div>